<!--
 * @Author: guanyj
 * @Email: 18062791691@163.com
 * @Date: 2018-12-29 11:15:51
 * @LastEditTime: 2019-01-03 10:35:24
 -->

<form nz-form class="hs-form-warp" [formGroup]="rules" [nzLayout]="rules.layout">

    <ng-container *ngFor="let control of controls; let index=index">
        <nz-form-item>
            <nz-form-label [nzSpan]="(control.labelWidth || rules.labelWidth) | layout:rules.layout" [nzRequired]="control.required" [class.ant-form-item-label-hidden]="!control.label">
                <ng-template #labelTemplate>{{control.label}}</ng-template>
                <ng-container *ngTemplateOutlet="control.labelTemplate || labelTemplate; context:{$implicit: control, rules: rules, index: index}"></ng-container>
            </nz-form-label>
            <nz-form-control [nzSpan]="(control.controlWidth || rules.controlWidth) | layout:rules.layout" [nzHasFeedback]="control.feedback" [nzValidateStatus]="control">
                <ng-container *ngIf="!(rules.readonly || control.readonly)">
                    <!-- TODO: 补全 -->
                    <ng-container [ngSwitch]="control.type">

                        <input *ngSwitchCase="'input'" nz-input class="hs-form-item" [formControlName]="control.field" [placeholder]="control.placeholder">

                        <nz-input-number *ngSwitchCase="'number'" class="hs-form-item" [formControlName]="control.field"></nz-input-number>

                        <ng-template class="hs-form-item" *ngSwitchCase="'dropdown'"></ng-template>

                        <nz-date-picker class="hs-form-item" *ngSwitchCase="'date'" nzShowTime [formControlName]="control.field"></nz-date-picker>

                        <ng-container *ngSwitchCase="'template'">
                            <ng-container *ngTemplateOutlet="control?.controlTemplate;context: {$implicit: control, rules: rules, index: index}"></ng-container>
                        </ng-container>

                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!(rules.readonly || control.readonly)">
                    <nz-form-extra *ngIf="control.extra || control.extraTemplate">
                        <ng-template #extraText>{{control.extra}}</ng-template>
                        <ng-container *ngTemplateOutlet="control.extraTemplate || extraText; context:{$implicit: control, rules: rules, index: index}"></ng-container>
                    </nz-form-extra>

                    <nz-form-explain *ngIf="control.dirty && control.errors">
                        <ng-template #explainTemplate>
                            <ng-container *ngFor="let error of control.errorList">
                                <ng-container *ngIf="control.hasError(error)">
                                    {{control.getErrorMsg(error) || control.getDefaultErrorMsg()}}
                                </ng-container>
                            </ng-container>
                        </ng-template>
                        <ng-container *ngTemplateOutlet="control?.explainTemplate || explainTemplate;context: {$implicit: control, rules: rules, index: index}"></ng-container>
                    </nz-form-explain>
                </ng-container>

                <nz-form-text *ngIf="rules.readonly || control.readonly">{{control.transform(control.value)}}</nz-form-text>
            </nz-form-control>

        </nz-form-item>
    </ng-container>

    <!-- TODO: 按钮组 -->
    <nz-form-item>
        <nz-form-control [nzOffset]="rules.labelWidth | layout:rules.layout">
            <ng-template #defaultFooter>
                <button nz-button type="submit" [disabled]="!(rules.dirty && rules.valid)">确认</button>
            </ng-template>
            <ng-container *ngTemplateOutlet="footerTemplateRef?.template || defaultFooter;context: {$implicit: rules}"></ng-container>
        </nz-form-control>
    </nz-form-item>
</form>
