<!--
 * ~Author: guanyj
 * ~Email: 18062791691@163.com
 * ~Date: 2018-12-29 08:57:43
 * ~LastEditTime: 2019-01-03 02:09:30
 -->
<!--The content below is only a placeholder and can be replaced.-->

<nz-layout>
    <nz-sider style="overflow: auto; height: 100vh; position: fixed; left: 0">
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
            <li nz-menu-item routerLink="/basic"><span><span class="nav-text">基本使用</span></span></li>
            <li nz-menu-item routerLink="/layout"><span><span class="nav-text">表单布局</span></span></li>
            <li nz-menu-item routerLink="/login"><span><span class="nav-text">登录框</span></span></li>
            <li nz-menu-item routerLink="/register"><span><span class="nav-text">注册新用户</span></span></li>
            <li nz-menu-item routerLink="/dynamic"><span><span class="nav-text">动态增减表单项</span></span></li>
        </ul>
    </nz-sider>
    <nz-layout style="margin-left: 200px">
        <nz-content >
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>
