.hs-form-warp {

    .hs-form-item {
        width: 100%;
    }

    .ng-valid.ng-untouched,
    .ng-invalid.ng-untouched,
    .ng-untouched {
        border-left: 3px solid #929292;
    }

    .ng-valid[required],
    .ng-valid.required,
    .ng-valid {
        border-left: 3px solid #42A948;
    }

    .ng-invalid:not(form) {
        border-left: 3px solid #a94442;
    }

}


.page-wrap {
    height: 100vh;
    padding: 20px;

    .page-content-wrap {
        margin: 15px 0;
        padding: 15px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        background: #ffffff;
        max-width: 800px;
    }
}

.ant-form-item-label-hidden {
    label {
        &::after {
            content: " "
        }
    }
}
