
.hs-form-warp {

    .hs-form-item {
        width: 100%;
    }
}


.page-wrap {
    height: 100vh;
    padding: 20px;

    .page-content-wrap {
        margin: 15px 0;
        padding: 15px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        background: #ffffff;
        max-width: 800px;
    }
}
