<!--
 * @Author: guanyj
 * @Email: 18062791691@163.com
 * @Date: 2019-01-02 20:46:28
 * @LastEditTime: 2019-01-11 13:46:10
 -->
<div class="page-wrap">
    <div class="page-content-wrap">
        <hs-form [rules]="rules" [data]="data">

            <nz-tabset [nzSelectedIndex]="1"></nz-tabset>
            <ng-template hsFormLabelTemplate field="nickname">
                <span>Nickname<i nz-icon nz-tooltip nzTitle="What do you want other to call you" type="question-circle" theme="outline"></i></span>
            </ng-template>

            <ng-template hsFormControlTemplate field="phone" let-control let-r="rules">
                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                    <ng-template #addOnBeforeTemplate>
                        <nz-select [ngModel]="'1'" style="width: 70px;">
                            <nz-option nzLabel="+86" nzValue="1"></nz-option>
                            <nz-option nzLabel="+87" nzValue="2"></nz-option>
                        </nz-select>
                    </ng-template>
                    <input hsFormControlName="phone" nz-input name="phone" >
                </nz-input-group>
            </ng-template>

            <!-- <ng-template hsFormControlTemplate field="name" let-control>
                <input type="text" hsFormControlName="first" nz-input> -
                <input type="text" hsFormControlName="last" nz-input>
            </ng-template> -->

            <ng-template hsFormFooterTemplate>
                <label nz-checkbox>
                    <span>I have read the <a>agreement</a></span>
                </label>
                <p><button nz-button nzType="primary" (click)="handleRegister()">Register</button></p>
            </ng-template>
        </hs-form>
    </div>
</div>
